In [1]:
import pandas as pd
import math

In [2]:
df_Inputs = pd.read_excel('Data Inputs.xlsx', header = None, names=['Calories'])
#df_Inputs.columns['Calories']

In [3]:
df_Inputs

    Calories
0     1000.0
1     2000.0
2     3000.0
3        NaN
4     4000.0
5        NaN
6     5000.0
7     6000.0
8        NaN
9     7000.0
10    8000.0
11    9000.0
12       NaN
13   10000.0

In [ ]:
df_Inputs['Calories'] = df_Inputs['Calories'] .astype(float)
print(df_Inputs.dtypes)

In [7]:
df_length = (len(df_Inputs))
print('DF length is: {}' .format(df_length))
new_list = []
a = 0


for i, row in df_Inputs.iterrows():
         
        print('i is equal to:', i)
        
        if str(row['Calories']) != 'nan':
            a += (row['Calories'])
            print('a is equal to:', a)

        else: 
            new_list.append(a)
            print('New List is equal to:', new_list)
            a=0        
            continue
  
            
print(new_list)

DF length is: 14
i is equal to: 0
a is equal to: 1000.0
i is equal to: 1
a is equal to: 3000.0
i is equal to: 2
a is equal to: 6000.0
i is equal to: 3
New List is equal to: [6000.0]
i is equal to: 4
a is equal to: 4000.0
i is equal to: 5
New List is equal to: [6000.0, 4000.0]
i is equal to: 6
a is equal to: 5000.0
i is equal to: 7
a is equal to: 11000.0
i is equal to: 8
New List is equal to: [6000.0, 4000.0, 11000.0]
i is equal to: 9
a is equal to: 7000.0
i is equal to: 10
a is equal to: 15000.0
i is equal to: 11
a is equal to: 24000.0
i is equal to: 12
New List is equal to: [6000.0, 4000.0, 11000.0, 24000.0]
i is equal to: 13
a is equal to: 10000.0
[6000.0, 4000.0, 11000.0, 24000.0]

In [9]:
df_length = (len(df_Inputs)-1)
print(df_length)

13

In [8]:
print(df_Inputs.iloc[-1])

Calories    10000.0
Name: 13, dtype: float64